.landing_page {
    width: 100%;
    color: var(--text);
}

.service_cont,
.service_list,
.expertise,
.expertise_list,
.about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services,
.engagements,
.about_me,
.testimonial,
.specialty {
    width: 100%;
    padding: 5rem;
}

.specialty,
.services {
    position: relative;
}

.about_content {
    row-gap: 10px;
}

.service_head,
.engage_head,
.gallery_head,
.about_head,
.specialty_head,
.testimonial_head {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.service_head h1,
.engage_head h1,
.gallery_head h1,
.about_head h1,
.specialty_head h1{
    font-size: 30px;
}

.engagement_cont {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 20px;
}

.service_cont,
.expertise {
    row-gap: 30px;
}

.event_list {
    width: 100% !important;
}

.service_list,
.event_list,
.expertise_list {
    width: 80%;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary);
    box-shadow: -4px 4px 2px var(--accent);
    row-gap: 30px;
}

.service_icon {
    font-size: 27px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
}

.event_id h3,
.expertise_id h3 {
    font-size: 25px;
    color: var(--accent);
}

.service_content,
.event_list,
.expertise_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-align: center;
}

.event_list,
.expertise_list,
.expertise_content {
    text-align: start;
    align-items: flex-start;
}

.service_content h3,
.expertise_content h3 {
    font-size: 25px;
}

.service_content p,
.expertise_content p,
.expertise_comment p,
.about_content p {
    font-size: 18px;
}

.experience {
    width: 100%;
    padding: 5rem;
}

.experience_list {
    display: flex;
    column-gap: 40px;
    width: 100%;
}

.exp_links {
    width: 33.3%;
    height: 300px;
    position: relative;
}

.exp_count,
.exp_content,
.big_circle {
    position: absolute;
}

.big_circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small_circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--secondary);
}

.exp_count {
    top: 30%;
    left: 23%;
    display: flex;
    align-items: center;
}

.exp_count2 {
    left: 20%;
}

.exp_count h1 {
    font-size: 80px;
}

.exp_count span {
    font-size: 20px;
    font-weight: normal;
}

.exp_content {
    top: 70%;
    left: 15%;
    text-align: center;
}

.exp_content p {
    font-size: 20px;
}

.gallery,
.subscribe {
    width: 100%;
    padding: 5rem;
    background-color: var(--accent);
}

.gallery_cont {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.gallery_list {
    display: flex;
    column-gap: 20px;
    width: 100%;
}

.gal_idle {
    width: 50%;
    height: 410px;
}

.gal_idle img,
.gal_col img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.gal_grid {
    width: 50%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    row-gap: 10px;
    column-gap: 10px;
}

.gal_col {
    width: 100%;
    height: 200px;
}

.expertise_comment {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.half_circle,
.serv_circle {
    width: 250px;
    height: 70px;
    border: 2px dashed var(--text);
    border-bottom: 0;
    border-radius: 50px 50px 0 0;
    background-color: transparent;
    position: absolute;
    transform: rotate(270deg);
}

.serv_line, .expertise_line {
    width: 2px;
    border: 2px dashed var(--text);
    position: absolute;
    display: none;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    z-index: -5;
}

.serv_circle {
    top: 35%;
    left: 3%;
    z-index: -5;
}

.serv_circle2 {
    top: 60%;
    left: 78%;
    transform: rotate(90deg);
}

.half_circle {
    top: 22%;
    left: 3%;
    z-index: -5;
}

.half_circle2 {
    transform: rotate(90deg);
    top: 37%;
    left: 78%;
}

.half_circle3 {
    top: 52%;
    left: 3%;
}

.half_circle4 {
    transform: rotate(90deg);
    top: 67%;
    left: 78%;
}

.testimonial_cont {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.my_glass {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: rgba(6, 0, 194, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(6, 0, 194, 0.3);
}

.user_profile,
.user_msg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.user_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.user_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_title h3 {
    font-size: 18px;
}

.testimonial_cont {
    position: relative;
}

.prev_btn,
.next_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    position: absolute;
}

.prev_btn {
    top: 47%;
    left: -2%;
}

.next_btn {
    top: 47%;
    right: -.7%;
}

.subscribe {
    display: flex;
    column-gap: 60px;
}

.subscribe_and_socials {
    width: 50%;
}

.subscribe_form,
.sub_form,
.sub_inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subscribe_form {
    row-gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary);
}

.sub_form_head {
    text-align: center;
}

.sub_form_head h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.sub_form {
    row-gap: 40px;
}

.sub_inputs {
    row-gap: 10px;
}

.inp_ctrl {
    width: 100%;
}

.inp_ctrl input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.inp_ctrl textarea {
    width: 100%;
    height: 150px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.sub_btn {
    width: 100%;
    text-align: center;
}

.sub_btn button {
    width: 250px;
    height: 50px;
    background-color: var(--primary);
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    color: var(--text);
}

.socials_cont,
.social_head,
.social_links {
    width: 100%;
}

.socials_cont {
    text-align: center;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 10px;
}

.social_links a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text);
}

.me_image {
    width: 50%;
    height: 600px;
}

.me_image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 912px) {

    .services,
    .experience,
    .engagements,
    .about_me,
    .testimonial,
    .specialty,
    .gallery,
    .subscribe {
        width: 100%;
        padding: 4rem 3rem;
    }

    .service_list,
    .event_list,
    .expertise_list,
    .gal_idle,
    .gal_grid,
    .my_glass,
    .subscribe_and_socials,
    .me_image {
        width: 100%;
    }

    .exp_links {
        width: 33.3%;
        height: 200px;
    }

    .exp_count h1 {
        font-size: 50px;
    }

    .exp_content2 {
        left: 5%;
    }

    .small_circle {
        width: 50%;
        height: 50%;
    }

    .engagement_cont {
        grid-template-columns: 6fr 6fr;
    }

    .gallery_list,
    .testimonial_cont {
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }

    .gallery_list:last-child {
        flex-direction: column-reverse;
    }

    .subscribe {
        flex-direction: column;
        row-gap: 40px;
    }

    .me_image {
        height: 500px;
    }

    .half_circle,
    .serv_circle {
        display: none;
    }

    .serv_line, .expertise_line {
        display: block;
        left: 15%;
    }

    .serv_line {
        top: 25%;
        height: 700px;
    }

    .serv_line2, .expertise_line2 {
        left: 80%;
    }

    .expertise_line {
        top: 15%;
        height: 1000px;
    }
}

@media (max-width: 650px) {
    .experience_list {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .exp_links {
        width: 200px;
        height: 200px;
    }

    .exp_count2 {
        left: 17%;
    }

    .exp_content2 {
        left: 5%;
    }
}

@media (max-width: 575px) {
    .services,
    .experience,
    .engagements,
    .about_me,
    .specialty,
    .testimonial,
    .gallery,
    .subscribe {
        padding: 4rem 30px;
    }

    .engagement_cont {
        grid-template-columns: 12fr;
    }
}

@media (max-width: 428px) {
    .services,
    .experience,
    .engagements,
    .about_me,
    .specialty,
    .testimonial,
    .gallery,
    .subscribe {
        padding: 4rem 20px;
    }

    .gal_idle {
        height: 250px;
    }

    .gal_col {
        height: 150px;
    }

    .expertise_line {
        top: 15%;
        height: 1200px;
    }
}